/*!
 * BEM+SMACSS configuration.
 * @author: Julien Gargot
 * @source: Inspired by http://sassbreak.com/writing-modular-css-with-sass/
 */

@use 'sass:math';

// V A R I A B L E S
@import "variables/index";

// B A S E   S T Y L E S
@import "base/index";

// U T I L I T I E S
@import "utilities/index";

// M O D U L E S
@import "modules/index";
 